@import '~styles/selectors';
@import '~styles/functions';
@import '~styles/mixins';

.link {
  display: contents;
  background: transparent;

  // PATCH: если `display: contents` не поддерживается
  .wrap {
    width: 100%;
  }
}

.wrap {
  @extend %transition;

  display: inline-block;
  position: relative;
  padding: use-padding(s) use-padding(m);
  border-radius: use-radius(m);
  box-shadow: var(--shadow-m);
  border: var(--border);
  transition-property: box-shadow, transform;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:hover,
  &[data-focus-visible-added] {
    box-shadow: var(--shadow-m-hover);
  }

  .link &:active {
    box-shadow: var(--shadow-m-active);
    transform: scale(0.99);
  }
}

.title {
  @extend %h4;
  @extend %line;

  width: 100%;
  padding: 0;
}

.actions {
  @extend %transition;

  display: inline-block;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;

  &:focus-within,
  .wrap:hover & {
    opacity: 1;
    pointer-events: all;
  }

  > * {
    margin-right: use-margin(s);
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }
}
