@import-normalize;

@import 'selectors';
@import 'functions';

body {
  margin: 0;
  background-color: use-color(background, primary);

  * {
    color: inherit;
    box-sizing: border-box;

    transition-property: none;

    outline-width: 0;
    outline-style: dashed;
    outline-color: use-color(element, alternative);
    outline-offset: 3px;
  }
}

[data-focus-visible-added] {
  outline-width: 3px;
}

a, button {
  border-radius: use-radius(s);

  &:not([disabled]) {
    cursor: pointer;
  }
}

a {
  @extend %transition;

  color: inherit;
  background-color: use-color(background, secondary);
  text-decoration: none;

  &:not([href]) {
    cursor: default;
  }

  &.active {
    pointer-events: none;
    color: inherit;
  }
}

input,
textarea,
select {
  background-color: use-color(background, secondary);
}

button,
input {
  @extend %text-m;

  padding: use-padding(s) use-padding(m);
  border: var(--border);
  border-radius: use-radius(m);
}

button {
  @extend %transition;

  box-shadow: var(--shadow-m);
  background-color: use-color(background, primary);
  transition-property: box-shadow, background-color;

  &:hover {
    box-shadow: var(--shadow-m-hover);
    background-color: use-color(background, secondary);
  }

  &:active {
    box-shadow: var(--shadow-m-active);
    // TODO: глобальная переменная
    transform: scale(0.99);
  }

  &.active {
    pointer-events: none;
    color: use-color(background, primary);
    background-color: use-color(element, secondary);
  }
}

[disabled] {
  opacity: use-opacity(m);
  pointer-events: none;
}
