@import 'maps';

// Хэлперы

@function indexed($name, $times, $prefix: '_', $splitter: ', ') {
  $_result: $name + $prefix + 1;

  @for $i from 2 through $times {
    $_result: $_result + $splitter + $name + $prefix + $i;
  }

  @return $_result;
}

@function class-tag($name) {
  @return '#{$name}, .#{$name}';
}

// Шортакты для мэпов

@function get-breakpoint($type) {
  @if map-has-key($breakpoints, $type) {
    @return map-get($breakpoints, $type);
  }

  @else {
    @error 'Контрольная точка `#{$type}` - не существует.';
  }
}

@function get-scale($type) {
  @if map-has-key($scales, $type) {
    @return map-get($scales, $type);
  }

  @else {
    @error 'Масштабирование `#{$type}` - не существует.';
  }
}

@function get-size($type) {
  @if map-has-key($sizes, $type) {
    @return map-get($sizes, $type);
  }

  @else {
    @error 'Размер `#{$type}` - не существует.';
  }
}

@function get-opacity($type) {
  @if map-has-key($opacities, $type) {
    @return map-get($opacities, $type);
  }

  @else {
    @error 'Непрозрачность `#{$type}` - не существует.';
  }
}

@function get-color($type, $mode: null) {
  @if ($mode == null) and map-get($other-colors, $type) {
    @return map-get($other-colors, $type);
  }

  $_color: map-get(
    map-get($colors, $type) or (),
    $mode
  );

  @if $_color {
    @return $_color;
  }

  @else {
    @error 'Неудалось замэпить цвет: $colors > #{type} > #{$mode}';
  }
}

// Раздача переменных

@function use-color($type, $mode: null) {
  @if ($mode == null) and map-has-key($other-colors, $type) {
    @return var(--#{$type}-color);
  }

  @else if map-has-key(
    map-get($colors, $type) or (),
    $mode
  ) {
    @return var(--color-#{$type}-#{$mode});
  }

  @else {
    @error 'Цвет `#{$type}` состояния `#{$mode}` - не существует.';
  }
}

@function use-margin($type) {
  @if index($margins, $type) {
    @return var(--margin-#{$type});
  }

  @else {
    @error 'Отступ `#{$type}` - не существует.';
  }
}

@function use-padding($type) {
  @if index($paddings, $type) {
    @return var(--padding-#{$type});
  }

  @else {
    @error 'Внутренний отступ `#{$type}` - не существует.';
  }
}

@function use-radius($type) {
  @if index($radiuses, $type) {
    @return var(--radius-#{$type});
  }

  @else {
    @error 'Закругление `#{$type}` - не существует.';
  }
}

@function use-size($type) {
  @if map-has-key($sizes, $type) {
    @return var(--size-#{$type});
  }

  @else {
    @error 'Размер `#{$type}` - не существует.';
  }
}

@function use-width($type) {
  @if map-has-key($breakpoints, $type) {
    @return var(--width-#{$type});
  }

  @else {
    @error 'Ширина `#{$type}` - не существует.';
  }
}

@function use-scale($type) {
  @if map-has-key($scales, $type) {
    @return var(--scale-#{$type});
  }

  @else {
    @error 'Масштабирование `#{$type}` - не существует.';
  }
}

@function use-opacity($type) {
  @if map-has-key($opacities, $type) {
    @return var(--opacity-#{$type});
  }

  @else {
    @error 'Непрозрачность `#{$type}` - не существует.';
  }
}
