
$breakpoints: (
  xxs: 270px,
  xs: 500px,
  s: 700px,
  m: 1000px,
  l: 1200px,
);

$colors: (
  background: (
    primary: #FFFFFF,
    secondary: #F3F8FD,
    alternative: #F1F1F1,
  ),
  element: (
    primary: #000027,
    secondary: #373272,
    alternative: #027597,
  ),
);

$other-colors: (
  shadow: #000,
  opacity: rgba(
    map-get(
      map-get($colors, background),
      primary
    ),
    0.7
  ),
);

$scales: (
  s: 1.03,
  m: 1.07,
  l: 1.13,
);

$sizes: (
  xxs: 3px,
  xs: 7px,
  s: 13px,
  m: 17px,
  l: 23px,
  xl: 27px,
  xxl: 33px,
);

$opacities: (
  s: 0.1,
  m: 0.5,
  l: 0.7,
);

$margins: (s, m, l);
$paddings: (s, m, l);
$radiuses: (s, m, l);
