@import 'maps';

@mixin max-width($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @error '@media контрольная точка `#{$breakpoint}` - не существует.';
  }
}
