@import 'functions';

%transition {
  transition-delay: 0s;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
}

%offset {
  width: calc(100% - var(--offset));
  margin-left: var(--offset);
  margin-right: var(--offset);

  &- {
    &left {
      margin-left: var(--offset);
    }

    &right {
      margin-right: var(--offset);
    }
  }
}

%line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%no-margin {
  margin: 0;
}

%text {
  &- {
    &m {
      font-size: use-size(m);
      line-height: 1.47;
      font-weight: 400;
      font-style: normal;
    }

    &s {
      font-size: use-size(s);
      line-height: 1.54;
    }

    &xs {
      font-size: 9px;
      line-height: 1.55;
    }
  }
}

%p {
  &- {
    &m {
      padding: 4px 0 3px;
    }

    &s {
      @extend %text-s;

      padding: 3px 0 2px;
    }

    &xs {
      @extend %text-xs;

      padding: 0 0 3px;
    }
  }
}

%h {
  &1, &2, &3, &4, &5, &6 {
    @extend %no-margin;
  }

  &1 {
    font-weight: bold;
    font-size: use-size(xxl);
    line-height: 1.32;

    padding: use-size(xl) 0 use-size(l);
  }

  &2 {
    font-weight: bold;
    font-size: use-size(xl);

    padding: use-size(l) 0 use-size(m);
  }

  &3 {
    font-weight: 500;
    font-size: use-size(l);

    padding: use-size(m) 0 use-size(s);
  }

  &4, &5, &6 {
    font-weight: 500;
    font-size: use-size(m);
    line-height: use-size(l);

    padding: use-size(s) 0 use-size(xs);
  }
}
