@import 'functions';
@import 'selectors';

body {
  @extend %no-margin;
  @extend %text-m;

  font-family: 'Roboto', sans-serif;
}

body,
[data-theme] {
  color: use-color(element, primary);
}

h {
  @for $i from 1 through 6 {
    &#{$i} {
      @extend %no-margin;
      @extend %h#{$i};
    }
  }
}

p {
  @extend %no-margin;
  @extend %p-m;

  padding: 4px 0 3px;
}

small {
  @extend %p-s;
}
