@import 'functions';
@import 'mixins';

:root {
  --color-background-primary: #{get-color(background, primary)};
  --color-background-secondary: #{get-color(background, secondary)};
  --color-background-alternative: #{get-color(background, alternative)};
  --color-element-primary: #{get-color(element, primary)};
  --color-element-secondary: #{get-color(element, secondary)};
  --color-element-alternative: #{get-color(element, alternative)};

  --width-xxs: #{get-breakpoint(xxs)};
  --width-xs: #{get-breakpoint(xs)};
  --width-s: #{get-breakpoint(s)};
  --width-m: #{get-breakpoint(m)};
  --width-l: #{get-breakpoint(l)};

  // FIXME: нужно депрекейтнуть, оформив в виде плейсхолдера
  --shadow-m: 0px 0px 27px #{rgba(
    get-color(shadow),
    0.07
  )};
  --shadow-m-hover: 0px 3px 33px #{rgba(
    get-color(shadow),
    0.07
  )};
  --shadow-m: 0px 0px 13px #{rgba(
    get-color(shadow),
    0.03
  )};

  --effect-blur-m: blur(7px);

  --scale-s: #{get-scale(s)};
  --scale-m: #{get-scale(m)};
  --scale-l: #{get-scale(l)};

  --transition-duration: 0.13s;
  --transition-function: linear;

  --opacity-s: #{get-opacity(s)};
  --opacity-m: #{get-opacity(m)};
  --opacity-l: #{get-opacity(l)};
  --opacity-color: #{get-color(opacity)};

  --border-width: 1px;
  --border-style: solid;
  --border-color: #{rgba(
    get-color(element, primary),
    0.1
  )};
  // FIXME: нужно депрекейтнуть, оформив в виде плейсхолдера
  --border: var(--border-width) var(--border-style) var(--border-color);

  --offset: calc(0px - var(--padding-m));

  /* @media: */

  --size-xxs: #{get-size(xxs)};
  --size-xs: #{get-size(xs)};
  --size-s: #{get-size(s)};
  --size-m: #{get-size(m)};
  --size-l: #{get-size(l)};
  --size-xl: #{get-size(xl)};
  --size-xxl: #{get-size(xxl)};

  --radius-s: #{get-size(s)};
  --radius-m: #{get-size(m)};
  --radius-l: #{get-size(xl)};

  --margin-s: var(--size-s);
  --margin-m: var(--size-xl);
  --margin-l: calc(var(--size-s) + var(--size-xl));

  --padding-s: var(--size-xs);
  --padding-m: var(--size-s);
  --padding-l: calc(var(--size-xs) + var(--size-s));

  [data-theme="dark"] {
    --color-background-primary: #{get-color(element, primary)};
    --color-background-secondary: #{get-color(element, secondary)};
    --color-background-alternative: #{get-color(element, alternative)};
    --color-element-primary: #{get-color(background, primary)};
    --color-element-secondary: #{get-color(background, secondary)};
    --color-element-alternative: #{get-color(background, alternative)};

    --border-color: #{rgba(
      get-color(background, primary),
      0.1
    )};

    --opacity-color: #{rgba(
      get-color(element, primary),
      0.7
    )};

    --border: var(--border-width) var(--border-style) var(--border-color);
    --shadow-m: 0px 0px 27px #{rgba(
      get-color(background, primary),
      0.07
    )};
    --shadow-m-hover: 0px 3px 33px #{rgba(
      get-color(background, primary),
      0.07
    )};
    --shadow-m: 0px 0px 13px #{rgba(
      get-color(background, primary),
      0.03
    )};
  }
}

@include max-width(s) {
  :root {
    --size-xxs: #{get-size(xxs) - 1px};
    --size-xs: #{get-size(xs) - 2px};
    --size-s: #{get-size(s) - 3px};
    --size-m: #{get-size(m) - 3px};
    --size-l: #{get-size(l) - 3px};
    --size-xl: #{get-size(xl) - 4px};
    --size-xxl: #{get-size(xxl) - 6px};

    --radius-s: #{get-size(xs)};
    --radius-m: #{get-size(s)};
    --radius-l: #{get-size(m)};
  }
}

@include max-width(xs) {
  :root {
    --size-xxs: #{get-size(xxs) - 2px};
    --size-xs: #{get-size(xs) - 4px};
    --size-s: #{get-size(s) - 5px};
    --size-m: #{get-size(m) - 5px};
    --size-l: #{get-size(l) - 5px};
    --size-xl: #{get-size(xl) - 7px};
    --size-xxl: #{get-size(xxl) - 8px};

    --radius-s: #{get-size(xxs)};
    --radius-m: #{get-size(xs)};
    --radius-l: #{get-size(s)};
  }
}

@include max-width(xxs) {
  :root {
    --size-xxs: #{get-size(xxs) - 3px};
    --size-xs: #{get-size(xs) - 5px};
    --size-s: #{get-size(s) - 7px};
    --size-m: #{get-size(m) - 7px};
    --size-l: #{get-size(l) - 7px};
    --size-xl: #{get-size(xl) - 10px};
    --size-xxl: #{get-size(xxl) - 13px};

    --radius-s: #{get-size(xxs) / 2};
    --radius-m: #{get-size(xs) - 4px};
    --radius-l: #{get-size(s) - 6px};
  }
}
