@import '~styles/mixins';
@import '~styles/selectors';
@import '~styles/functions';

.section {
  @extend %offset;

  display: grid;
  grid-gap: use-margin(m);
  grid-template-columns: 1fr 1fr 1fr;

  @include max-width(m) {
    grid-template-columns: 1fr 1fr;
  }

  @include max-width(s) {
    grid-template-columns: 1fr;
  }
}
