@import '~styles/selectors';
@import '~styles/functions';
@import '~styles/mixins';

.wrap {
  @extend %transition;

  display: inline-block;
  position: relative;
  width: 221px;
  margin-right: use-margin(m);
  margin-bottom: use-margin(m);
  overflow: hidden;
  border-radius: use-radius(m);
  background-color: use-color(background, secondary);
  box-shadow: var(--shadow-m);
  transition-property: box-shadow;

  &:hover,
  &[data-focus-visible-added] {
    box-shadow: var(--shadow-m-hover);

    .image {
      transform: scale(use-scale(s));
    }

    .content {
      transform: translateY(0);
    }

    .description {
      opacity: 1;
    }
  }

  @include max-width(s) {
    & {
      width: 170px;
    }
  }

  @include max-width(xs) {
    & {
      width: 130px;
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    pointer-events: none;
  }

  &::before {
    position: relative;
    width: inherit;
    padding-top: 165%;
  }

  &::after {
    border: var(--border);
    border-radius: inherit;
  }
}

.wrap::after,
.image,
.content,
.placeholder {
  // TODO: вынести в отельный selector
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.image {
  @extend %transition;

  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-property: transform;
}

.content,
.placeholder {
  max-height: 100%;
  padding: var(--padding-m);
}

.content {
  @extend %transition;

  top: initial;
  background-color: use-color(opacity);
  backdrop-filter: var(--effect-blur-m);
  transform: translateY(calc(100% - 69px));
  transition-property: transform;

  @include max-width(s) {
    & {
      transform: translateY(calc(100% - 55px));
    }
  }

  @include max-width(xs) {
    & {
      transform: translateY(calc(100% - 45px));
    }
  }

  @include max-width(xxs) {
    & {
      transform: translateY(calc(100% - 35px));
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: var(--border-width);
    right: var(--border-width);
    border-top: var(--border);
  }
}

.title {
  @extend %h4;
  @extend %transition;

  transition-property: padding-bottom;
}

.subtitle {
  @extend %text-s;
}

.title,
.subtitle {
  @extend %line;

  padding-top: 0 !important;
}

.wrap:not(:hover):not([data-focus-visible-added]) .title,
.subtitle {
  padding-bottom: 0;
}

.description {
  @extend %transition;
  @extend %text-s;

  opacity: 0;
  transition-property: opacity;

  #{indexed(h, 4, '')} {
    @extend %text-m;
    @extend %p-m;
  }

  p {
    @extend %p-s;
  }

  small {
    @extend %p-xs;
  }
}

.placeholder {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .title {
    white-space: normal;
    margin-top: use-padding(s);
  }
}
