@import '~styles/functions';
@import '~styles/selectors';

.wrap {
  display: inline-block;
  display: contents;
}

.list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: inline-block;
  margin-right: use-margin(s);

  &:last-child {
    margin-right: 0;
  }
}

.link {
  &, &::after {
    @extend %transition;
  }

  display: inline-block;
  position: relative;
  padding: use-padding(m) use-padding(l);
  background-color: transparent;
  border: var(--border);
  transition-property: background-color;

  &:hover {
    background-color: use-color(background, secondary);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    bottom: calc(#{use-padding(m)} / 2);
    margin: 0 auto;
    background-color: use-color(element, primary);
    border-radius: use-radius(s);
    opacity: 0;
    transition-property: opacity, width, height;
  }

  &[class~='active'] {
    box-shadow: none;

    &::after {
      opacity: 1;
      width: use-padding(m);
      height: 1px;
    }
  }
}
