@import '~styles/functions';

// TODO: цвет в глобальную переменную
$error_color: #f00;

.label {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: use-margin(s);
}

.title, .input, .error {
  display: inline-block;
  margin-left: use-margin(m);
}

.title {
  margin-left: 0;
  flex-basis: 10%;
}

.input {
  flex-basis: 20%;
  width: 100%;

  .invalid & {
    border-color: $error_color;
    box-shadow: 0px 0px 7px rgba($error_color, 0.1);
  }
}

.error {
  flex-grow: 1;
  color: $error_color;
}
