@import '~styles/functions';

.wrap {
  display: inline-block;
  display: inline-flex;
  display: contents;

  position: relative;
}

.button {
  position: relative;

  &:hover {
    z-index: 1;
  }

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  &:not(:last-child) {
    border-right: 0;
  }

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
