@import '~styles/functions';
@import '~styles/selectors';

.wrap {
  box-shadow: var(--shadow-m);
  border-bottom: var(--border);
}

.content {
  display: flex;
  align-items: center;
}

.title {
  display: inline-block;
  margin-right: use-margin(l);

  > a {
    background-color: transparent;
  }
}

.emoji {
  margin-right: use-margin(s);
}

.nav {
  flex-grow: 1;
  display: block;
}
