@import '~styles/functions';
@import '~styles/selectors';

.wrap {
  @extend %offset;

  border-radius: use-radius(m);
  border: var(--border);
  padding: use-padding(m);
  margin-bottom: use-margin(s);

  &.error {
    background-color: rgba(#f00, use-opacity(s));
  }
  &.warn {
    background-color: rgba(#ff0, use-opacity(s));
  }
  &.info {
    background-color: rgba(#00f, use-opacity(s));
  }
  &.success {
    background-color: rgba(#0f0, use-opacity(s));
  }
  &.default {
    background-color: rgba(use-color(background, primary), use-opacity(s));
  }
}

.title {
  padding-top: 0;
}

.message {
  padding-bottom: 0;
}
